@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;

    /* 메아리 저널 css 에서 퍼왓음 */
    font-family: "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic",
                 "AppleGothic", "Helvetica Neue", "Helvetica Neue Light",
                 "HelveticaNeue-Light", "Arial", "Helvetica", "돋움",
                 "Dotum", "Luxi Sans", "은 돋움", "UnDotum", "Baekmuk Gulim", 
                 sans-serif;
}

.stage {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: none;
    box-shadow: 0 0 20px #111;
    background-color: #E6E6E6;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
}

.stage-wrapper {
    margin: 0;
}

.stage-message {
    font-size: 30px;
    line-height: 150%;
}

.stage-retina {
    font-size: 32px;
    font-weight: bold;
}

.concealed {
    width: 0;
    height: 0;
    visibility: hidden;
}

.body {
    width: 80%;
    margin: 5px auto;
    padding: 5px;
}

a, a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.body img {
    width: 100%;
    margin: 10px;
}
